[Unit]
Description=JobRunner
After=network.target

[Service]
WorkingDirectory=/var/data/iviva/JobRunner
ExecStart=/var/data/iviva/JobRunner
Restart=on-failure
#Restart service after 3 seconds if the service crashes
RestartSec=5
User= harish
Environment=IVIVA_CONFIG_PATH=/home/harish/iviva.yml

[Install]
WantedBy=multi-user.target

